@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Privacy Policy
    At Easy Housing Solutions, we respect your privacy. We collect personal information such as name, email, and payment details to provide services and process transactions. We may use cookies to enhance your experience. We do not sell your personal data but may share it with trusted service providers. We take reasonable security measures, though we cannot guarantee 100% protection. You can access, update, or delete your data anytime by contacting us. Our site may include third-party links, for which we’re not responsible. We don’t collect data from children under 13. This policy may be updated periodically.

    For inquiries, contact us at abc@gmail.com.
</p>
